{:company/legal-name "RATP Developpement"
 :company/lei "969500J9KG4HF67VC976"
 :company/jurisdiction "FR"
 :company/website "https://www.ratpdev.com"
 :company/ticker "unlisted (international operating subsidiary of RATP Group, state-owned)"}
