[["ratpdev-legal-1" :tos/full-text "Legal Notice: legal information and terms of use - RATP Dev
Content
Menu
Footer
You are
EN
Our uniqueness
Our modes
Our operations
Our expertises
Our commitments
Join us
Newsroom
Menu
Legal Notice
Welcome to the website https://www.ratpdev.com hereinafter referred to as the “Site”.
By using this Site, you acknowledge that you have read this legal notice and agree to comply with it. The purpose of this legal notice is, in particular, to inform you of the existence of intellectual property rights that must be respected.
The content of this notice may be subject to change. We therefore invite you to consult it regularly.
1. Publisher identification
The Site provides information about the company RATP Développement. This Site is owned by RATP Développement (hereinafter the “Company”), a limited company with a Management Board and Supervisory Board, with a share capital of 231,246,742 €, having its head office at 9, rue Brahms 75012 Paris – France, and registered with RCS Paris (trade register) under n°389 795 006.
Head office: 9 rue Brahms, 75012 Paris
EU VAT number: FR75389795006 All communications may be addressed to the following email: [email protected]
2. Design and development
Groupe RATP
Fabrique à sites
54 quai de la Rapée
75599 PARIS CEDEX 12
3. Intellectual property
The elements constituting this Site, developed by the Company or on its behalf (hereinafter the “Content”), are protected under applicable legislation relating to copyright, trademark law, design rights, and unfair competition.
The Content includes, in particular, the architecture, the graphic charter (including colors, fonts, and the graphic organization of screens), as well as all information and elements available on the Site such as texts, articles, photographs, illustrations, images, trademarks and logos, data, databases, and all audio elements (such as voices, music, or sound effects) and fixed or animated visual elements (such as graphic animations or audiovisual sequences), specific software developments, and downloadable programs.
The Content is the property of the Company or its technical service providers.
Any reproduction, representation, distribution, and/or exploitation of all or part of the Content, by any means, in any form, and for any purpose whatsoever, is prohibited unless expressly authorized in advance and in writing by the Company. In any case, and subject to the above, the source (the Site and the Company) as well as, where applicable, the author’s name must be clearly indicated.
Any person failing to comply with the applicable legal provisions commits the offense of counterfeiting and is liable to the criminal penalties provided by law, without prejudice to any other remedies available to the Company and its subsidiaries.
4. Liability
The Company disclaims all warranties of any kind regarding the Content, including any warranty of fitness for a particular purpose, ownership, or non-infringement. Furthermore, the Company disclaims all liability whatsoever for direct or indirect damages, incidental or consequential damages, loss of data or profit, arising from or related to the use or operation of the Site and the Content.
In addition, the Site may contain inaccuracies or typographical errors.
Changes and updates are regularly made to the Site. In this respect, the Company reserves the right to make any modification, correction, or change at any time.
The mention of links or of trademarks, names, services, domain names, and designations of other companies does not imply any association between the Company and such companies, products or services, trademarks, names, or designations.
5. Personal data protection
The use of our Site requires the collection and processing of personal data concerning you. For more information, we invite you to read our Privacy Policy available on our website.
6. Governing law and jurisdiction
The Site and its content are governed by French law, and any dispute relating thereto shall be subject to the jurisdiction of the French courts.
© Copyright RATP Développement 2025. All rights reserved.
The right move.
RATP Dev
9 rue Brahms
75012 Paris, France
Our vision
Our strategy
Our locations
Our governance
Our operations
Join us
Press
Contact us
2026 © RATP Dev. All rights reserved Legal notice Cookies policy Privacy policy Terms and conditions Site map Accessibility" 1 :add]
 ["ratpdev-legal-1" :tos/source-url "https://www.ratpdev.com/en/legal-notice/" 1 :add]
 ["ratpdev-legal-1" :tos/retrieved-at "2026-07-19T08:13:13Z" 1 :add]
 ["ratpdev-legal-1" :tos/sha256 "b5a599c6c4324f7b22baa045ea1e82dca7ab50fff1ed712e23fd5c57c18dc457" 1 :add]
 ["ratpdev-legal-1" :tos/doc-type :terms-of-service 1 :add]]
